node_modules/
.env
.vercel
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.bak11
*.bak12
*.bak13
*.bak14
*.bak15
*.bak16
*.bak17
*.bak18
*.bak19
*.bak20
*.bak_ga
*.py
.DS_Store
